ArrleQuake/Assets.xcassets/.DS_Store
ArrleQuake.xcodeproj/xcuserdata/alexandershipin.xcuserdatad
ArrleQuakeCore/.swiftpm
*.DS_Store
ArrleQuake/Resource
ArrleQuake.xcodeproj/project.xcworkspace/xcuserdata/alexandershipin.xcuserdatad
